@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="applicationHost">
    <h2>Landing Page...</h2>
</div>

@section Scripts {
    <script type="text/javascript" 
            src="~/Scripts/lib/durandal/amd/require.js" 
            data-main="@Url.Content("~/Scripts/app/main")"></script>    
}
